body{
    margin: 0;
    padding: 0;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 10000;
    position: sticky;
    top: 0;background-color: #fff;
}
header img{
    width: 200px;
    height: 80px;
}
header>div>ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
header>div>ul li{
margin: 15px;
margin-left: 15px;
list-style-type: none;
}
header a{
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    transition: 0.5s;
}
header a:hover{
color: #2E348F;
}
.h1{
    width: 20%;
}
.h3{
  width: 20%;
  
}
.h3>ul>li{
  margin: 5px;margin-right: 20px;
}
#reg{
    background-color: #2E348F;
    padding: 10px;
  }
#reg>a{
    color: #fff;}
#reg>a:hover{
 color: #FF0000;
 display: block;
}
.h2{
    width: 60%;
}
aside{
    display: none;
    position: sticky;top: 0;
    z-index: 1000;background-color: #fff;
    }
    aside>div>img{
    width: 100px;
    height: 60px;
    margin: 10px;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 10000;
        top: 0;
        left: 0;
        background-color: #000000;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        }
        
        .sidenav a {
        text-decoration: none;
        display: block;
        transition: 0.3s;
        line-height: 35px;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight: 600;
        padding:10px ;
        padding-left: 15px;
        }
        
        .sidenav a:hover {
        background-color: #2E348F;
        color: #fff;
        }
        #img{
        width: 60px;
        margin-top: -40px;
        margin-left: 10px;
        }
        .sidenav>img{
            width: 100px;
            height: 60px;
            margin: 10px;
            margin-top: -40px;
        }
        .container {
            display: none;
            position: absolute;
            right: 0;
            margin-right: 40px;
            margin-top: 10px;
          }
          
          .bar1, .bar2, .bar3 {
            width: 20px;
            height: 5px;
            background-color: rgb(63, 61, 61);
            margin: 6px 0;
            transition: 0.4s;
          }
          
          .change .bar1 {
            transform: translate(0, 11px) rotate(-45deg);
          }
          
          .change .bar2 {opacity: 0;}
          
          .change .bar3 {
            transform: translate(0, -11px) rotate(45deg);
          }

#hero{
   height:400;position: relative;z-index: -1;
}
#hero img{
    width: 100%;height: 100%;
}
#inhero{
    position: absolute;top: 0;left: 0;right: 0;bottom: 0;background-color: #2e358f8f;padding: 30px;
    display: flex;align-items: center;justify-content: center;flex-direction: column;color: #fff;text-align: center;
}
#inhero button{
    background-color: #fff;border: none;padding:10px;
}
#inhero a{
    color: #2E348F;text-decoration: none;font-weight: bold;
}
#offer{
  text-align: center;padding: 20px;color: #333333;
} 
#inoffer{
display: flex;flex-direction: row;justify-content: center;align-items: center;padding: 30px;color: #333333
}
#inoffer>div{
  margin: 15px;padding: 30px;box-shadow: 1px 1px 10px rgb(221, 219, 219);width: 25%;;
}
#next1{
  display: flex;flex-direction: row;justify-content: center;align-items: center;background-color: #2E348F;
  padding: 60px;color: #fff;
}#next1>div{
  width: 40%;margin: 20px;
}#next1>div>#nextimg{
  width: 100%;height: 100%;
}
#button{
  background-color: #fff;border: none;padding:10px;
}#button a{
  color: #2E348F;text-decoration: none;font-weight: bold;
}
#divimg{
  display: flex;flex-direction: row;justify-content:space-between;align-items: center;margin-top: 20px;
}
#divimg>img{
  width: 50%;
}
#next2{
  display: flex;flex-direction: row;justify-content: space-evenly;padding: 40px;background-color: #F5F5F5;
}
#next2>div{
  margin: 20px;
}
.n1{
  width: 30%;
}
.n2{
  display: flex;flex-direction: row;width: 70%;flex-wrap: wrap;justify-content: center;
}.n2>div{
  width: 45%;margin: 10px;display: flex;flex-direction: row;
}
.n2>div>div{margin-right: 20px;}

#next3{
  display: flex;flex-direction: row;justify-content: center;align-items: center;flex-wrap: wrap;background-color: #2E2E2E;
}#next3>div{margin: 20px;text-align: center;font-size: 14px;color: #A4A4A4;}
#next3>div>h2{color: #FF0000;}

#next4{
  position: relative;background-image: url(images/Background.png);height: 600px;
}
.bg{
  background-image: linear-gradient(to right,#7c7ea377,#2E348F);position: absolute; top:0;bottom:0;left: 0;right: 0;
}

#float{
  width: 50%;float: right;padding: 50px;color: #fff;
}
.services{
  display: flex;flex-direction: row;flex-wrap: wrap;justify-content:space-between;align-items: center;
}
.services>div{
  width: 23%;background-color: #F5F5F5;color: #333333;height: auto;padding: 20px;text-align: center;margin-bottom: 20px;
}

.services h3{
  font-size: smaller;
}
.services i{
  color: #535353;font-size: 20px;
}

#testimony{
 background-image:url(images/Background\ \(1\).png) ;background-repeat: no-repeat;
 background-position: center;background-size: cover;
}
#testimony>div{
background-color: #2e358f91;text-align: center;color: #fff;padding: 20px;
}

.test,.test2{
  display: flex;flex-direction: row;padding: 30px;justify-content: center;
}
.test>div{
  width: 30%;margin: 20px;background-color: #FFFFFF;
  border-bottom: 2px solid #FF0000;color: #333333;padding: 10px;
}
.test2>div{
  width: 20%;margin: 10px;background-color: #FFFFFF;color: #333333;padding: 10px;
}
.test img{
  width: 150px;border-radius: 100%; border: 1px solid #FF0000;
}
#contacts{
  text-align: center;
  padding-top: 30px;
}
#form>input,textarea{
  border: 1px solid #A4A4A4;padding: 10px;margin-bottom: 20px;width: 40%;
}
#form #inp{
  width: 20%;
}
#form>textarea{
  height: 200px;
}
#form #subm{
  width: auto; border: none; background-color: #2E348F;color:#fff;font-weight: bold;
}
@media only screen and (max-width: 700px) {
  body{
    font-size: 15px;
  }
  .services h3{
    font-size: 10px;
  }
  #form>input,textarea{
    width: 300px;
  }
  #form #inp{
    width: 300px;
  }
.test,.test2{
  flex-direction: column;padding: 20px;
}.test>div{
  width: auto;
}
.test2>div{width: auto;}
#float{
  width: auto;float: none;
}
#next4{
  position: unset;background-image: url(images/Background.png);height: auto;
}
.bg{
  background-image: linear-gradient(to right,#7c7ea377,#2E348F);position: unset; 
}
}
@media only screen and (max-width: 1000px) {
  #float{
    width: auto;float: none;
  }

}
          @media only screen and (max-width: 900px) {
            
            #next3>div{font-size: 10px;}
            #next1{
              flex-direction: column;padding: 20px;
            }#next1>div{
              width: auto;
            }
            #next2{
              flex-direction: column;padding: 0;}
            .n1,.n2{
              width: auto;flex-direction: column;
            } .n2>div{width: auto;}

            #inoffer{
              flex-direction: column;padding: 0;
            }
           #inoffer>div{
            width: auto;
           }
          
            #box{
              padding: 20px;
            }
            header{
                display: none;
            }
aside{
    display: block;
}
            .container{
              display: inline-block;
              cursor: pointer;
              position:absolute;
              top:15px;
             }
             .list{
              flex-direction: column;
             }
             .list>div{
              width: auto;border-left: none;
             }
             .rounds>div{
              width: 400px;
            }
          } 

          #flag-container {
            white-space: nowrap;
            overflow: hidden;
           
          }
          
          .flag-container-inner {
            display: inline-block;
            white-space: nowrap;
                    padding: 0px;
          }
          
          .flag {
            width: 200px;
            height: 150px;
            display: inline-block;
            margin-right: 3%;
          }
          
          #flagger {
            background-color: #FF0000;
          }

          #footer{
            display: flex;flex-direction: row;justify-content: center;background-color: #020202;
            padding: 20px;color: #fff;
          }
          #footer>div{
            width: 30%;margin: 30px;
          }

          #service{display: flex;flex-direction: row;justify-content: center;padding: 30px;margin: 10px;
          color: #333333;line-height: 26px;
          }
          #service img{
            width: 100%;
          }
          #service>div{
            margin: 20px;text-align: left;width: 50%;
          }

          #about{display: flex;flex-direction: row;justify-content: center;padding: 30px;margin: 10px;
          color: #333333;line-height: 26px;
          }
          #about2{
            display: flex;flex-direction: row;justify-content: center;padding: 30px;background-color: #F5F5F5;
            color: #333333;line-height: 26px;
          }
          
          #about2>div{
            margin: 20px;text-align: left;width: 50%;text-align: justify;
          }
          #about>div{
            margin: 20px;text-align: left;width: 50%;
          }
          #about>div>ul li{
            line-height: 35px;
          }

          @media screen and (max-width:700px) {
            
          #service{
          padding: 0;margin: 20px;flex-direction: column;margin-bottom: 20px;
                      }
                      #service>div{
                        margin: 10px;text-align: left;width: auto;
                      }
                      #about{
                        padding: 0;margin: 20px;flex-direction: column;margin-bottom: 20px;
                                    }
                                    #about>div{
                                      margin: 10px;text-align: left;width: auto;
                                    }
                                    #about2{
                                      padding: 20px;;flex-direction: column;margin-bottom: 20px;
                                                  }
                                                  #about2>div{
                                                    margin: 10px;text-align: left;width: auto;
                                                  }
            #footer{flex-direction: column;}
            #footer>div{width: auto;margin: 10px;}
          .flag-container-inner {
            display: inline-block;
            white-space: nowrap;
                    padding: 0px;
          }
          
          .flag {
            width: 100px;
            height: 100px;
            display: inline-block;
            margin-right: 2%;
          }
          
          }

          section{
            opacity: 0;
            transform: translateY(20px);
            transition: opacity 0.7s ease-out, transform 0.7s ease-out;
          }

          section.visible {
            opacity: 1;
            transform: translateY(0);
        }